#posts {
    border: 1px solid color black;
}

.button-control {
    background-color: blue;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
}

#main-section {
    border: 2px solid color black;
}

.post {
    border: 2px solid black;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 12px;

}